@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Gilroy-Regular;
}
.topbar{
  background: rgba(247,247,247,1);
      padding: 10px;
}
.topbar a{
  font-family: Gilroy-Regular;
  text-decoration: none;
  color: #000;
}
.topbar a:hover, .topMenu a:hover{
  color:#a31834 !important;
}
.topbar ul {
  padding: 0px;
  display: flex;
  gap: 10px;
  margin:0px
}
.topbar p{
  margin: 0px !important;
  font-family: Gilroy-Regular;
  color: #bbbbbb;
}
.topbar i{
  color:#a31834;
} 
.social i:hover{
  color:#000;
}
.topMenu ul{
  display: flex;
  gap:30px;
  margin: 0px;
}
.topMenu a{
  text-transform: uppercase;
  color:#000;
  font-family: Gilroy-Regular !important;
  text-decoration: none !important;
 }
 .logo{
  width: 150px;
 }
 .footer{
    background: rgba(33, 37, 41, 1);
    padding: 50px 0px;
 }
 .footerMenu ul{
    display: flex;
    padding: 0px;
    gap: 20px;
    width: 100%;
    justify-content: center;
    color: #fff;
    font-family: 'Gilroy-Regular';
    text-transform: uppercase;
 }
 a{
  text-decoration: none !important;
 }
 .footerMenu a{
  color:#fff;
  font-family: Gilroy-Regular;
 }
.footer h4, .footer h5{
  color: #fff;
  text-transform: uppercase;
  font-family: Gilroy-Regular;
  font-weight: 800;
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 10px;
  margin-top: 20px;
}
.footer h5{
  margin-top: 20px;
  font-size: 15px;
}
.footer a{
  color: #fff;
  font-family: 'Gilroy-Regular';
  font-weight: 200;
  display: block;
}
.footer ul{
  padding: 0px;
}
.footer ul li{
  padding-bottom: 5px;
}
.footer a:hover{
  color:#a31834
}
.copyright{
  background: #000000;
  padding: 10px 0px;
  color: #fff;
  font-family: 'Gilroy-Regular';
}

.webdevider{
  padding: 0px 10px;
}
.copyright p, .copyright a{
  margin: 0px;
  color: #ffffff75;
  font-size: 12px;
}
.copyright a:hover{
  color: #fff;
}
.footer .social i:hover{
  color:#a31834;
}
.expertTip{
  background-color: #a31834 !important;
  /* background-image: url('https://img.magnific.com/free-photo/cute-girl-pretty-adorable-girl-pink-shirt-with-red-lipstick-dreaming-with-white-lollipop_140725-166206.jpg?t=st=1780143890~exp=1780147490~hmac=ea0723f71f2ecbe262fc513344714a67a0fb304dbf763d9a1ee46f4aedbf011b&w=1480'); */
  padding: 50px 0px;
  /* background-size: cover; */
  /* background-position: center; */
}
.outside{
  background-image: url('/images/bg1.webp');
  padding: 100px 0px;
  background-size: cover;
  background-position: center;
}
/* .expertForm{
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 10px -5px;
  box-shadow: 0px 10px 10px -5px #00000036;
} */
.expertForm h2{
  color: #fff;
  font-family: 'Gilroy-Regular';
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 35px;
  margin-bottom: 40px;
  text-align:center
}
.expertForm .btn{
  border-color: #fff !important;
  padding: 15px 30px !important;
}
.form-control{
  font-family: 'Gilroy-Regular' !important;
  margin-bottom: 20px !important;
  padding: 15px !important;
}
.btn-primary{
  font-family: 'Gilroy-Regular' !important;
  text-transform: uppercase !important;
  background: #a31834 !important;
  border-color: #a31834 !important;
  padding: 10px 30px !important;
}
.btn-primary:hover{
  background: #fff !important;
  color: #a31834 !important;
}
.expertForm h2 strong, .outBox h2 strong, strong {
  color: #a31834;
}
.alert{
    padding: 5px 20px !important;
    border-radius: 100px !important;
    width: fit-content;
    font-family: 'Gilroy-Regular';
    font-size: 14px !important;
    line-height: 20px !important;

}
.info{
  background-color: #ffeae0;
  padding: 50px 0px
}
.infoBox{
  font-family: 'Gilroy-Regular';
  padding: 20px;
  background: #fbd9c8;
  border-radius: 10px;
}
.infoBox h3{
  font-size: 22px;
  margin-left: 10px;
}
.infoBox .icon i{
  font-size: 22px;
  margin-top: -8px;
  color: #a31834;
}
.infoBox p{
  height: 75px !important;
}
.infoBox a{
  color: #a31834;
}
.infoBox i{
  font-size: 12px;
}
.outBox h2{
  color: #000;
  font-family: 'Gilroy-Regular';
  font-size: 45px;
}
.lead{
  font-family: 'Gilroy-Regular';
  font-size: 25px !important;
}
.facBox{
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Gilroy-Regular';
}
.facBox i{
  background: #a31834 ;
  padding: 10px 23px 10px 10px;
  color: #fff;
  line-height: 13px;
  border-radius: 100px;
}
.facBox p{
  font-size: 18px;
}
.blogs{
  padding: 50px 0px;
}
.blogs h2{
  font-family:'Gilroy-Regular';
  font-size: 35px;
}
.blogs p, h3, h5{
  font-family: 'Gilroy-Regular';
}
.blogs .swiper img{
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.blogs h3{
  font-size:18px;
  color: #a31834;
}
.blogs h5{
  font-size: 12px !important;
  color: #0000006e;
}
.blogs img{
  border-radius: 10px !important;
  margin-bottom: 15px;
}
.slideBox{
  border: 1px solid #8c8c8c4d !important;
  border-radius: 10px !important;
  padding:20px !important;
}
.blogs a{
  font-size: 12px !important;
  padding: 0px;
  font-family: 'Gilroy-Regular';
  color: #a31834;
  text-transform: uppercase;
}
.viewMore{
  margin-top: -45px;
  color: #fff;
}
.viewMore a{
  color:#fff !important;
  font-size: 16px !important;
  border-bottom: 1px solid #fff !important;
}
.blog-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.blog-card img {
    width: 100%;
    transition: transform 0.5s ease;
}
.blog-card:hover img {
    transform: scale(1.1);
}
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}
.blog-card:hover .overlay {
    opacity: 1;
}
.overlay a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
}
.blogs p{
  font-size: 15px;
}
.about {
  padding:50px 0px;
  font-family:'Gilroy-Regular';
  background: #f7f7f7;
}
.about h2{
  font-size: 35px;
}
.about .lead{
  font-size: 20px !important;
}
.about h3{
  color: #a31834;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0px 0px;
}
.about h6{
  font-size: 18px;
}
.aboutAmit{
  background: #90001b;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.aboutAmit p{
  font-size: 16px;
}
.about p{
  font-size: 16px;
}
.blockquote h5{
  font-size: 32px;
  font-style: italic;
}
.blockquote{
  background: #90001b;
  color: #fff;
  padding: 20px;
  font-size: 63px;
  border-radius: 10px;
}
.blockquote h4{
  font-size: 55px;
  line-height: 60px;
}
.blockquote h5{
  margin-top: -26px;
  margin-left: 25px;
  padding-bottom: 40px;
}
.list ul{
  padding: 0px;
}
.list i{
  color: #fff;
  background: #a31834;
  border-radius: 100px;
  padding: 10px 23px 10px 10px;
  line-height: 13px;
}
.list li{
  padding-bottom: 10px;
}
.achievement{
  padding: 30px 0px;
}
.achievement h4{
  font-size: 20px;
  font-weight: 700;
}
.procedure{
  padding:50px 0px;
  font-family: 'Gilroy-Regular';
}
.procedure h5{
  border: 1px solid #a31834;
  padding: 5px 30px;
  width: fit-content;
  margin: auto;
  border-radius: 100px;
  font-size: 15px;
  text-transform: uppercase;
  color: #a31834;
  font-weight: 600;
  margin-bottom: 10px;
}
.procedure h2{
  font-size: 35px;
  margin-bottom:20px;
}
.procedureBox{
  text-align: center;
  margin-top: 20px;
}
.procedureBox img{
  margin: auto;
}
.procedureBox h3{
  font-size: 20px;
  font-weight: 600;
}
.procedure1{
  background: url('/images/Breast-Augmentation.webp');
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
}
.procedure2{
  background: url('/images/Breast-Reduction.webp');
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
}
.procedure3{
  background: url('/images/Breast-Augmentation.webp');
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
}
.procedures h3{
  font-size: 20px;
  font-weight: 600;
}
.procedures h5{
  border: 0px;
  margin: 0px;
  padding: 0px;
  padding-top: 100px;
  font-size: 18px;
  font-weight: 100;
  color: #000;
}
.procedures a{
  color: #a31834 ;
  margin-top: 20px !important;
  display: block;
  font-weight: 600;
  font-size: 18px;
}
.procedure .active img
{
  border: 3px solid #a31834;
  border-radius: 100%;
  padding: 0;
}
.news{
  padding: 50px 0px;
  font-family: Gilroy-Regular;
}
.news h2{
  margin-bottom: 20px !important;
  font-family: 35px !important;
}
.swiper-pagination{
  position: relative !important;
  margin-top: 25px !important;
}
.swiper-pagination-bullet-active{
  background-color: #a31834 !important;
}
.videos{
  background: #f7f7f7;
  padding: 50px 0px;
}
.videos h2{
  font-family: 'Gilroy-Regular';
  font-family: 35px !important;
}
iframe{
  border-radius: 10px;
}
.reviews{
  padding: 50px 0px;
  background-color: #fff;
  font-family: Gilroy-Regular;
  
}
.reviews h2{
  font-family: 'Gilroy-Regular';
  font-size: 35px !important;
}
.reviews h4{
  font-size: 20px !important;
  color: #a31834;
}
.revBox{
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  font-size: 20.5px;
  text-align: center;
  font-style: italic;
}
.revBox h4{
  color: #000;
  font-size: 25px !important;
  font-style: normal;
}
.revBox i{
  color:#FFC107;
}
.flag, .video{
  display: flex;
  align-items: center;
  gap: 10px;
}
.flag img{
  border-radius: 100%;
  padding: 0px;
  width: 80px;
}
.video{
  background: #a31834;
  width: fit-content;
  color: #fff;
  padding: 5px 20px;
  border-radius: 100px;
}
.procedureMenu{
  background: #90001b;
}
.navbar-nav{
  gap: 20px;
}
.procedureMenu a{
  color:#fff;
  font-family: Gilroy-Regular;
}
.video a{
  color: #000;
}
.reviewInfo {
  padding: 40px 0px;
}
.description p{
  font-size: 20px;
  font-weight: 400;
}
.reviews a{
  color:#fff !important;
  font-size: 14px;
}
.reviewImg img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.swiper-wrapper{
  align-items: center !important;
}
.hashtag{
  font-size: 25px;
  font-weight: 500;
  color: #a31834;
}
.navbar a:hover{
  color: #ffeae0;
}
.instagram{
  padding: 0px 0px 50px 0px;
  font-family: 'Gilroy-Regular';
}
.instaBox img{
  border-radius: 100px !important;
  height: fit-content !important;
  margin: 0px !important;
}
iframe{
  min-height: 400px;
}
.instagram h4{
  font-weight: 600;
}
.slider img{
  width: 100%;
}
.instagram p{
  color:#a31834 !important
}
.instagram img{
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .footerMenu ul{
    text-align: center;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .social ul{
    justify-content: center !important;
  }
  .copyright p, .copyright a{
    text-align: center;
  }
  h2{
    font-size: 28px !important;
  }
  .form-group{
    margin-bottom: 10px;
    text-align: center;
  }
  .infoBox{
    margin-bottom: 10px !important;
  }
  .infoBox p {
    height: fit-content !important;
  } 
  .instagram img{
    height: fit-content !important;
  }
  .instagram h4 {
    font-size: 18px !important;
  }
  .instagram p{
    font-size: 14px;
  }
  .blogs a{
    font-size: 10px !important;
  }
  .btn-primary{
    font-size: 12px !important;
  }
  .reviews h2{
    font-size: 30px !important;
  }
  .revBox p{
    font-size: 18px !important;
  }
  .revBox h4{
    font-size: 20px !important;
  }
  .vid{
    margin-top: 15px !important;
  }
  .vid iframe {
    min-height: 200px !important;
    height: 100% !important;
  }
  .outside{
    padding: 50px 0px
  }
  .outBox h2, .outBox strong{
    text-align: center !important;
    font-style: normal !important;
  }
  .lead{
    font-size: 20px !important;
    text-align: center !important;
  }
  .facBox p {
    font-size: 15px;
    display: flex;
  }
  .facBox i{
    margin-right: 10px;
    height: fit-content;
  }
  .aboutAmit p, .about p{
    text-align: justify;
    margin-bottom: 0px;
  }
  .aboutAmit{
    margin-bottom: 15px;
  }
  .achievement h4 {
    font-size: 15px !important;
  }
  .list li{
    display: flex !important;
  }
  .list li i{
    margin-right: 10px !important;
    height: fit-content !important; 
  }
  .blockquote h5{
      font-size: 20px;
      padding-bottom: 20px;
  }
  .blockquote h4 {
      font-size: 50px;
      line-height: 40px;
  }
  .about h3{
    font-size: 22px !important;
  }
  .about .lead {
    font-size: 15px !important;
    margin-bottom: 15px !important;
  }
  .procedureBox h3 {
      font-size: 16px !important;
      margin-top: 10px !important;
  }
  .procedures h5{
    padding: 50px 0 0 !important;
  }
  .procedureList{
    margin-bottom: 20px;
  }
  .contact ul{
    display: block;
    text-align: center;
  }
  .topMenu{
    display: none !important;
  }
  .procedure h5{
    font-size: 13px;
  }
  .procedureMenu{
    display: none;
  }
}

